<h1>This is Login Page.</h1>

<form method="post">
    <input type="text" name="username" placeholder="Type username" />
    <input type="password" name="password" placeholder="Type password" />
    <button class="btn btn-primary btn-sm">Login</button>
</form>