@{
    ViewData["Title"] = "User Page";
}

<h1>This is User Page.</h1>

<form asp-controller="Home" asp-action="Logout" method="post">
    <button class="btn btn-primary btn-lg">Logout</button>
</form>
